/.env
/log/
/data/
/tools/wallets_ori.txt
/tools/gmgn.ai.har
/tools/wallets.txt
/tools/wallets_trash.txt
/tools/results/
/bota.env
/botb.env
/botc.env
/create_all_bots.sh
/tools/wallets_check.txt
/tools/SMV2/results/
/tools/SMV2/key_list.py
/tools/SMV2/data/transactions.duckdb
